body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #233672;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.post {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.post:hover {
  transform: translateY(-5px);
}

.post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.post:hover img {
  opacity: 0.9;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
}
h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #ffffff;
}
p {
  color: #555555;
  line-height: 1.8;
}


#pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination-link {
  display: inline-block;
  margin: 0 0.5rem;
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.pagination-link.active {
  background-color: #333;
  color: #fff;
}
/* Existing styles are not shown to avoid repetition */

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 250px; /* Adjust the width as needed */
  background: #1e3a68;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-top-left-radius: 30px; /* Curving the top-left corner */
}

footer h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#subscribe-form input[type="email"] {
  width: 200px; /* Adjust the width as needed */
  padding: 0.5rem;
  border-radius: 25px; /* Round the edges of the input field */
  border: none;
  outline: none;
  margin-bottom: 10px;
}

#subscribe-form button {
  width: 200px; /* Adjust the width as needed */
  padding: 0.5rem 1rem;
  border-radius: 25px; /* Round the edges of the button */
  border: none;
  background: linear-gradient(to right, #ff5e5e, #ff8b8b); /* Gradient background for a more creative look */
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
}

#subscribe-form button:hover {
  background: linear-gradient(to right, #cc4c4c, #e56a6a); /* Gradient background for the hover effect */
}

/* Adjust the main section padding to create space for the fixed footer */
main {
  padding-bottom: 60px; /* Adjust the value as needed to prevent content overlap with the footer */
}

